---
import Section from '../../components/Section.astro'
---

<Section class="min-h-screen font-bold text-8xl md:text-9xl">
  <h1>Hello. 👋</h1>
  <h1 class="opacity-60">My name is Hosein Khansari.</h1>
</Section>
