---
import Console from '../components/Console'
import Header from '../sections/header.astro'
import Logo from '../sections/logo.astro'
---

<style is:global>
  :root {
    font-feature-settings: 'cv10', 'cv11';
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hosein Khansari</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <meta name="theme-color" content="#000000" />
    <meta name="color-scheme" content="dark" />
  </head>
  <body class="scroll-smooth bg-black px-8 text-white">
    <main>
      <Logo />
      <Header />
      <div
        class="mx-auto mt-10 grid max-w-3xl grid-cols-1 gap-x-16 gap-y-12 pb-10 text-2xl text-neutral-400 md:grid-cols-2"
      >
        <div>
          <h6 class="mb-4 text-4xl font-medium text-neutral-200">Education</h6>
          <ul class="list-disc pl-[1em]">
            <li>Graduated from Allame Helli 5 Highschool</li>
            <li>
              Studying bachelor degree of Computer Engineering at Sharif
              University of Tehran
            </li>
          </ul>
        </div>
        <div>
          <h6 class="mb-4 text-4xl font-medium text-neutral-200">Skills</h6>
          <div class="text-2xl">Advanced</div>
          <p class="text-base">
            HTML/CSS, JavaScript, React (+ MUI, react-query, zustand, etc.)
          </p>
          <div class="mt-3 text-2xl">Intermediate</div>
          <p class="text-base">TypeScript, Tailwind, Vue, Astro</p>
          <div class="mt-3 text-2xl">Beginner</div>
          <p class="text-base">The next big thing</p>
        </div>
      </div>
      <div class="mt-16">
        <div class="grid grid-flow-row-dense grid-cols-1 gap-4 md:grid-cols-3">
          <div class="row-span-1 rounded bg-white bg-opacity-5 p-4">
            <div class="text-xl font-medium">farsi-digits</div>
            <div class="text-neutral-400">Convert digits to Farsi digits</div>
          </div>
          <div class="row-span-1 rounded bg-white bg-opacity-5 p-4">
            <div class="text-xl font-medium">rangarang</div>
            <div class="text-neutral-400">
              A library that chooses the best colors from a picture.
            </div>
          </div>
          <div class="row-span-2 rounded bg-white bg-opacity-5 p-4">
            <div class="text-xl font-medium">node-calc</div>
            <div class="text-neutral-400">
              Small and zero-dependency library for parsing and calculating
              basic math expressions
            </div>
            <Console evaluate={(x) => x} />
          </div>
          <div class="row-span-2 rounded bg-white bg-opacity-5 p-4">
            <div class="text-xl font-medium">unreadable</div>
            <div class="text-neutral-400">
              Turn your name into an extremely unreadable JS expression.
            </div>
            <Console evaluate={(x) => x} />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
