<header
  class="mx-auto max-w-3xl py-20 text-7xl font-bold sm:text-8xl md:text-9xl"
>
  <h1 class="text-white">Hello. 👋</h1>
  <h1 class="text-neutral-400">My name is Hosein Khansari.</h1>
  <p
    class="mt-24 text-6xl text-neutral-500 before:sticky sm:text-7xl md:text-8xl"
  >
    I've been making things on the web since I was 12.
    <br />
    <br />
    I write JavaScript a lot. Plus React, TypeScript, and many other cool stuff.
  </p>
</header>
