<header
  class="max-w-3xl mx-auto py-20 font-bold text-8xl md:text-9xl"
>
  <h1 class="text-white">Hello. 👋</h1>
  <h1 class="text-neutral-400">My name is Hosein Khansari.</h1>
  <p
    class="mt-24 text-7xl md:text-8xl bg-clip-text bg-gradient-to-b from-black via-neutral-400 to-neutral-800 via-35% text-transparent bg-fixed bg-[100vw_100vh]"
  >
    I've been making things on the web since I was 12.
    <br />
    <br />
    I write JavaScript a lot. Plus React, TypeScript, and many other cool stuff.
  </p>
</header>
