<header class="mx-auto max-w-3xl py-20 text-8xl font-bold md:text-9xl">
  <h1 class="text-white">Hello. 👋</h1>
  <h1 class="text-neutral-400">My name is Hosein Khansari.</h1>
  <p
    class="mt-24 bg-gradient-to-b from-black via-neutral-400 via-35% to-neutral-800 bg-fixed bg-clip-text bg-[100vw_100vh] text-7xl text-transparent md:text-8xl"
  >
    I've been making things on the web since I was 12.
    <br />
    <br />
    I write JavaScript a lot. Plus React, TypeScript, and many other cool stuff.
  </p>
</header>
